<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>파일 업로드 하기</h1>
    <h3>single file upload</h3>
    <form action="single-file" method="post" enctype="multipart/form-data">
        파일: <input type="file" name="singleFile"><br>
        파일 설명: <input type="text" name="singleFileDescription"><br>
        <input type="submit" value="업로드">
    </form>

    <h3>multi file upload</h3>
</body>
</html>