<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>OHGIRAFFERS RESTAURANT에 오신 것을 환영합니다.</h1>

<button onclick="location.href='/menu/7'">7번 메뉴 목록 보기</button>
<!--    <button onclick="location.href='/menu/list'">메뉴 전체 목록 보기</button>-->
<button onclick="location.href='/menu/list?page=3&sort=menuCode,desc'">메뉴 전체 목록 보기(3페이지부터)</button>

<button onclick="location.href='/menu/regist'">메뉴 입력하기</button>

</body>
</html>